<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>存入数据</title>
        <style>
        input{
            width: 250px;
            margin: 5px;
        }
    </style>
</head>
<body>
    <form method="post" action="{% url 'save' %}">
        {%csrf_token%}
        <h3>基本数据</h3>
        <input type="text" name="city" placeholder="城市">
        <input type="text" name="year_of_project" placeholder="项目立项年份">
        <input type="text" name="land_area" placeholder="土地面积(亩)">
        <input type="text" name="industrial_land_expense" placeholder="工业用地费用(万/亩)">
        <input type="text" name="commercial_land" placeholder="商业用地(万/亩)"><br>
        <input type="text" name="residential_land" placeholder="住宅用地(万/亩)">
        <input type="text" name="num_racks" placeholder="机架数量（个）">
        <input type="text" name="single_stand_power" placeholder="单机架IT功率（KW）">
        <input type="text" name="built_price" placeholder="建筑物造价（元/m2)">
        <input type="text" name="KW_equipment_cost" placeholder="单KW机电设备建设成本（万元）"><br>
        <input type="text" name="KW_project_cost" placeholder="单KW机电工程建设成本（万元）">
        <input type="text" name="final_shelving_rate" placeholder="终局上架率">
        <input type="text" name="full_mouth_on_rack" placeholder="机架上满月数">
        <input type="text" name="KW_price" placeholder="单KW价格(含税，RMB/月/KW)">

        <h3>假设参数</h3>

        <input type="text" name="PUE" placeholder="PUE">
        <input type="text" name="simultaneous_coefficient" placeholder="同时系数">
        <input type="text" name="electric_charge" placeholder="电费（元/度, 含税)">
        <input type="text" name="water_charge" placeholder="水费（元/立方米）">
        <input type="text" name="water_use_rate" placeholder="耗水率"><br>
        <input type="text" name="broadband_rent" placeholder="宽带租金（元/1G/月)">
        <input type="text" name="rack_bandwidth" placeholder="单机架配带宽 （100M/机架，共享）">
        <input type="text" name="new_people_num" placeholder="新增人员数量（管理+运维）">
        <input type="text" name="annual_average_wage" placeholder="年人均工资（万元）">
        <input type="text" name="wage_add_rate" placeholder="工资年增长率"><br>
        <input type="text" name="welfare_funds" placeholder="职工福利费（占工资比例）">
        <input type="text" name="low_value_consumables" placeholder="低值易耗品（办公用品，占职工福利费）" style="width: 250px;margin:5px">
        <input type="text" name="management_fee" placeholder="经营管理费（占营业收入）">
        <input type="text" name="depreciation_years" placeholder="固定资产折旧年限（年）">
        <input type="text" name="land_architecture" placeholder="土地建筑 （年）"><br>
        <input type="text" name="equipment" placeholder="设备（年）">
        <input type="text" name="residual_rate" placeholder="固定资产残值率">
        <input type="text" name="depreciation_method" placeholder="固定资产折旧方法">
        <input type="text" name="VAT_rate" placeholder="增值税税率">
        <input type="text" name="electromechanical_equipment" placeholder="机电设备"><br>
        <input type="text" name="Installation_works" placeholder="安装工程">
        <input type="text" name="electric_oil_VAT" placeholder="电，油增值税">
        <input type="text" name="water_VAT" placeholder="水增值税">
        <input type="text" name="company_income_tax_rate" placeholder="企业所得税率">
        <input type="text" name="borrow_interest" placeholder="借贷利息"><br>
        <input type="text" name="borrow_years" placeholder="贷款年限">
        <input type="text" name="borrow_matching" placeholder="贷款配比">
        <input type="text" name="borrow_poundage" placeholder="贷款手续费">
        <input type="text" name="discount_rate" placeholder="折现率">
        <input type="text" name="VAT" placeholder="增值税"><br>
        <input type="text" name="cabinet_rental_VAT" placeholder="机柜租赁增值税（不动产）">
        <input type="text" name="bandwidth_service_VAT" placeholder="带宽服务增值税">
        <input type="text" name="cloud_computing_service_VAT" placeholder="云计算服务增值税">
        <input type="text" name="VAT_supertax_rate" placeholder="增值税附加税率">
        <input type="text" name="land_VAT" placeholder="土地增值税"><br>
        <input type="text" name="construction_tax" placeholder="建筑工程税费"><br>



        <input type="submit" value="存入"style="width: 50px">
    </form>
    <h4>提示：请将所有含百分号的数据换算成小数！</h4>
    <hr>


    <div>
        <h3><a href="/show_1">上柜节奏</a></h3>
        <h3><a href="/show_2">营业收入测算</a></h3>
        <h3><a href="/show_3">总成本测算</a></h3>
        <h3><a href="/show_4">固定资产折旧</a></h3>
        <h3><a href="/show_5">投资租赁</a></h3>
        <h3><a href="/show_6">利润表</a></h3>
        <h3><a href="/show_7">现金流表</a></h3>
    </div>

</body>
</html>
